---
import '@fontsource/poppins';
import Download from '../components/Download.astro';
import '../styles.css';

type Props = {
  frontmatter: {
    title: string;
    pdfLink?: string;
    noIndex?: boolean;
    description?: string;
  };
};

const { title, pdfLink, noIndex, description } = Astro.props.frontmatter;

const initials = title
  .split(' ')
  .map((word) => word[0].toUpperCase())
  .slice(0, 2);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || title} />
    {noIndex && <meta name="robots" content="noindex" />}
    <title>{title}</title>
  </head>
  <body class="my-0 bg-indigo-50 dark:bg-slate-900 sm:my-14">
    <div class="container mx-auto flex justify-center">
      <article class="minimalist relative">
        <div
          class="absolute top-4 rounded-sm bg-indigo-400 px-4 py-1 sm:top-12 sm:left-8"
        >
          <div
            class="flex h-fit select-none flex-col items-center text-sm font-bold"
          >
            <span>{initials[0]}</span>
            <span>{initials[1]}</span>
          </div>
        </div>
        {
          pdfLink && (
            <div class="not-prose absolute right-4 top-4">
              <Download href={pdfLink} />
            </div>
          )
        }
        <slot />
      </article>
    </div>
    <style></style>
  </body>
</html>
